#spotify-lyrics-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background: #1a1a1a;
  z-index: 999;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 120px);
  border-radius: 5px;
  max-width: 1000px;
  min-width: 400px;
  font-size: 1rem;
}

#spotify-lyrics-modal pre {
  height: 100%;
  width: 100%;
}

.lyrics-modal-open {
  display: flex !important;
  flex-direction: column;
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 15px;
  max-width: 200px;
  align-items: center;
  justify-content: center;
}

.button-container button {
  background: inherit;
  cursor: pointer;
  border: none;
}

.close-button {
  color: red;
  font-weight: bolder;
  font-size: 20px;
}

.update-button {
  color: white;
  font-size: 16px;
}
